{% extends "template.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/AdminLTE-2.4.2/AdminLTE-2.4.2/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/static/AdminLTE-2.4.2/AdminLTE-2.4.2/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/static/AdminLTE-2.4.2/AdminLTE-2.4.2/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% block page_header %}cmdb{% endblock %}
{% block optionnal_description %}group information{% endblock %}
{% block level %}
    <li>cmdb</li>
    <li class="active">group</li>
{% endblock %}
{% block content %}
<div class="box">
    <div class="box-header">
{#      <h3 class="box-title">Data Table With Full Features</h3>#}
{#    </div>#}
    <!-- Dropdown -->
    <div class="btn-group">
      <button type="button" class="btn btn-info">Action</button>
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
          <!-- 单击弹出模态对话框 -->
        <li><a href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="Add">Add</a>
{#        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Add</button>#}

        </li>
        <li><a href="#">Edit</a></li>
        <li><a href="#">Delete</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

    <!-- 模态对话框开始 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel"></h4>
          </div>
          <div class="modal-body">
            <form id="add_group" action="cmdb/group" method="POST">
                <div class="form-group">
                    <label for="name" class="control-label">Group</label>
                    {{ obj.name }}{{ obj.name.errors.0 }}
                </div>
                <div class="form-group">
                    <label for="describe" class="control-label">Describe</label>
                    {{ obj.describe }}{{ obj.describe.errors.0 }}
                </div>
                <!-- /.form-group -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="add_group_submit">Submit</button>
{#                    <input type="submit" class="btn btn-primary" id="add_group_submit">Submit#}
                </div>
            </form>
          </div>
{#          <div class="modal-footer">#}
{#            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>#}
{#            <button type="button" class="btn btn-primary" id="add_group_submit">Submit</button>#}
{#            <input type="submit" class="btn btn-primary" id="add_group_submit">Submit</input>#}
{#          </div>#}
        </div>
      </div>
    </div>
    <!-- 模态对话框结束 -->
    <table id="group" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Serial number</th>
      <th>Group</th>
      <th>Describe</th>
      <th>Operate</th>
    </tr>
    </thead>
    <tbody>
        {% for group in group_info %}
        <tr>
          <td>{{ group.id }}</td>
          <td>{{ group.name }}</td>
          <td>{{ group.describe }}</td>
          <td><span class="label label-info">Delete</span></td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Serial number</th>
            <th>Group</th>
            <th>Describe</th>
            <th>Operate</th>
        </tr>
    </tfoot>
    </table>
    </div>
    <!-- /.box-body -->
  </div>
{% endblock %}
{% block js %}
    <script src="/static/AdminLTE-2.4.2/AdminLTE-2.4.2/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/AdminLTE-2.4.2/AdminLTE-2.4.2/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/AdminLTE-2.4.2/AdminLTE-2.4.2/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/static/AdminLTE-2.4.2/AdminLTE-2.4.2/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/static/AdminLTE-2.4.2/AdminLTE-2.4.2/dist/js/demo.js"></script>
    <script src="/static/js/minions/table.js"></script>
    <script>
        // 初始化表格
        $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        modal.find('.modal-title').text(recipient + " Group Information")
        });

        // 增加group信息
{#        $("#add_group_submit").click(function () {#}
{#            console.log("add group");#}
{#            $.ajax({#}
{#            url: '/cmdb/group/',#}
{#            data: $("#add_group").serialize(),#}
{#            type: 'POST',#}
{#            dataType: "JSON",#}
{#            traditional: true,#}
{#            success: function (obj) {#}
{#            var name = obj.name;#}
{#                if(obj.success){#}
{#                    console.log("add success!");#}
{#                    location.reload()#}
{#                }#}
{#                    },#}
{#            error: function () {#}
{#                console.log("error")#}
{#                }#}
{#            })#}
{#        })#}

    </script>
{% endblock %}
